body, html {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    background-color: #083344;
    font-weight: 700;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #334155;
    border-radius: 5px;
}
.content {
    padding: 100px;
    display: flex;
    gap: 100px;
}
.title {
    color: #a3e635;
    padding: 7px;
}
.grid {
    background-color: #a3e635;
    padding: 2px;
}
.grid-item {
    width: 30px;
    height: 30px;
    background-color: #0a0a0a;
    transition: background-color 200ms ease-in-out;
}
.grid-item:hover {
    cursor: pointer;
}
.ship-hover {
    background-color: #a3e635   ;
}
button {
    border: 2px solid #a3e635;
    outline: none;
    font-family: 'PT Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: #a3e635;
    border-radius: 2px;
    font-size: 30px;
    transition: all 200ms ease-in-out;
}
button:hover {
    color:#334155;
    background-color: #a3e635;
    cursor: pointer;
}
